.tasks {
  position: relative;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  overflow-y: scroll;
  height: 100%;
}

.tasks::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--c-background)
  );
  pointer-events: none;
}

.tasks::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

.tasks::-webkit-scrollbar-track {
  background-color: transparent; /* Set the track color to transparent */
}

.tasks::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb color to transparent */
}

.category {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  color: var(--c-accent2);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.label span {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.label p {
  letter-spacing: 0.64px;
}

.todo {
  background-color: var(--c-todo);
}

.doing {
  background-color: var(--c-doing);
}

.done {
  background-color: var(--c-done);
}
