.sidebar {
  background: #fff;
  width: 425px;
  padding: 32px 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--c-foreground);
}

.logo {
  padding: 0 32px;
}
